<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>snowweb</display-name>
	<description>snowweb</description>
	
	<!--xss 特殊字符过滤-->
	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.ruimin.ifs.framework.filter.XssFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>EXPIRED_PAGE</param-name>
			<param-value>/public/jsp/505.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>notFilterUrl</param-name>
			<param-value></param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- url访问权限 -->
	<filter>
		<filter-name>urlFilter</filter-name>
		<filter-class>com.ruimin.ifs.framework.filter.UrlAuthorizationFilter</filter-class>
		<init-param>
		    <param-name>noCheckSuffix</param-name>
		    <param-value>js,jpg,png,gif,css,woff,eot,svg,ttf</param-value>
		</init-param>
		<init-param>
		    <param-name>erorrPage</param-name>
		    <param-value>/public/jsp/noAuthorization.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>urlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 响应头属性添加的过滤器，可根据需要进行自定义添加 -->
	<filter>
		<filter-name>addHeaderFilter</filter-name>
		<filter-class>com.ruimin.ifs.framework.filter.AddHeaderFilter</filter-class>
		<init-param>
			<!-- 为静态资源添加缓存周期 -->
			<param-name>Cache-Control</param-name>
			<param-value>max-age=604800,public</param-value>
		</init-param>
	</filter>
	<!-- 静态资源 -->
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.woff</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.eot</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.svg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>addHeaderFilter</filter-name>
		<url-pattern>*.ttf</url-pattern>
	</filter-mapping>
	<!-- 为gzip 添加的过滤器 -->
	<filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>com.ruimin.ifs.framework.filter.gzip.GZIPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.dwr</url-pattern>
	</filter-mapping>
	
	<!--禁用http webdav,参考http://xm-koma.iteye.com/blog/1602353-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>snowweb</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint></auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	
	<listener>
		<listener-class>com.ruimin.ifs.framework.listerner.ApplicationListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.ruimin.ifs.framework.listerner.SnowwebContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.ruimin.ifs.listener.CustomListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.ruimin.ifs.framework.session.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>config-0</param-name>
			<param-value>/WEB-INF/dwr.xml</param-value>
		</init-param>
		<init-param>
			<param-name>org.directwebremoting.extend.Remoter</param-name>
			<param-value>com.ruimin.ifs.dwr.DwrRequestIntercept</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- dwr push beign -->
		<init-param>
			<param-name>pollAndCometEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- dwr push end -->
		<init-param>
			<param-name>initApplicationScopeCreatorsAtStartup</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitAfterWrite</param-name>
			<param-value>500</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>snowServlet</servlet-name>
		<servlet-class>com.ruimin.ifs.framework.servlet.SnowServlet</servlet-class>
	    <init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
	    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>snowServlet</servlet-name>
		<url-pattern>*.ifs</url-pattern>
	</servlet-mapping>
	<!-- 登录验证码 -->
	 <servlet>
		<servlet-name>GetVerifyCodeServlet</servlet-name>
		<servlet-class>com.ruimin.ifs.framework.servlet.GetVerifyCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVerifyCodeServlet</servlet-name>
		<url-pattern>/verifyCode</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/public/jsp/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/public/jsp/505.jsp</location>
	</error-page>
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/public/jsp/exception.jsp</location>
	</error-page>
	<error-page>
	    <exception-type>javax.servlet.ServletException</exception-type>
	    <location>/public/jsp/exception.jsp</location>
	</error-page>
	<error-page>
	    <exception-type>javax.servlet.jsp.JspException</exception-type>
	    <location>/public/jsp/exception.jsp</location>
	</error-page>
	<error-page>
	    <exception-type>java.lang.NullPointerException</exception-type>
	    <location>/public/jsp/exception.jsp</location>
	</error-page>
	<error-page>
	     <exception-type>java.lang.RuntimeException</exception-type>
	    <location>/public/jsp/exception.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>/tags/snowweb</taglib-uri>
			<taglib-location>/WEB-INF/snowweb.tld</taglib-location>
		</taglib>
	</jsp-config>
	<welcome-file-list>
	    <welcome-file>/pages/login/login.jsp</welcome-file>
	</welcome-file-list>
		
</web-app>
